<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="currentTable != ''">
      <div class="">
        <ion-searchbar (ionClear)="searchWords('')" [(ngModel)]="searchword" placeholder="Buscar"></ion-searchbar>
      </div>
      <div class="">
        <ion-button color="secondary" (click)='searchWords(searchword)'>
          <ion-icon name="search"></ion-icon>
        </ion-button>   
      </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <span><ion-icon class="iconbook" name="book" (click) = "presentPopover($event)"></ion-icon></span>
      <span *ngIf="currentTable != ''"><ion-icon class="iconadd" name="add" (click) = "addNewWord()"></ion-icon></span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="searchCont"> -->
  <!--   <div class="searchinput"> -->
  <!--     <ion-searchbar (ionClear)="searchWords('')" [(ngModel)]="searchword" placeholder="Buscar"></ion-searchbar> -->
  <!--   </div> -->
  <!--   <div class="searchbutton"> -->
  <!--     <ion-button color="secondary" (click)='searchWords(searchword)'> -->
  <!--       <ion-icon name="search"></ion-icon> -->
  <!--     </ion-button> -->   
  <!--   </div> -->
  <!-- </div> -->

  <!-- <ion-infinite-scroll threshold="0px" (ionInfinite)="loadData2($event)" position='top'> -->
  <!--     <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."> -->
  <!--     </ion-infinite-scroll-content> -->
  <!-- </ion-infinite-scroll> -->
  <ion-list>
    <ion-item *ngFor="let word of tmpwords; let i = index">
      <ion-label (press)="onPress($event, i, word)" (pressup)="onPressUp($event)" class="ion-text-wrap" [hidden]="i == currentIdx">
        <h2>{{word.word}}</h2>
        <p [innerHTML]="word.definition"></p>
      </ion-label> 
      <ion-label class="ion-text-wrap" *ngIf="(i == currentIdx)">
        <div class='editCont'>
          <input type="text" name="" id="" value="" [(ngModel)]='editword.word'>
          <textarea name="" id="" rows="4" [(ngModel)]='editword.definition'></textarea>
        </div>
        <div class='buttonsEdit'>
          <span><ion-icon class='editbutton' name="checkbox-outline" (click) = "editWord(editword)"></ion-icon></span>
          <span><ion-icon class='deletebutton' name="trash" (click) = "deleteWord(word)"></ion-icon></span>
          <span><ion-icon class='closebutton' name="close-circle-outline" (click) = "closeEdit()"></ion-icon></span>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
