.editCont {
  width: 90%;
  display: inline-block;
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}
.buttonsEdit {
  width: 10%;
  display: inline-block;
  span {
    display: block;
    text-align: center;
    ion-icon {
      font-size: 30px;
    }
  }
}

.iconadd {
  font-size: 25px;
  margin: 5px;
  color: green;
}

.iconbook {
  font-size: 25px;
  margin: 5px;
  color: blue;
}

.editbutton {
  color: green;
}

.deletebutton {
  color: red;
}

.searchCont {
  position: fixed;
  -ms-flex-order: -1;
  order: -1;
  width: 100%;
  z-index: 10;
  .searchinput {
    display: inline-block;
    width: 80%;
    margin: auto;
  }
  .searchbutton {
    display: inline-block;
    width: 15%;
    font-size: 30px;
    ion-button {
      margin-bottom: 10px;
    }
  }
}

